<!DOCTYPE html>
<html>

<head th:replace="~{fragmentos :: head}">
    <style>
        .text-danger {
            color: brown;
        }
    </style>
</head>

<body id="fundo">
    <div class="container mt-5" id="fundo-branco">
        <div class="card" id="cadastro-center">
            <div class="card-header">
                Cadastro HOME
            </div>
            <div class="card-body">
                <h5 class="card-title">HOME CLIENTE</h5>
            </div>
        </div>
    </div>

</body>

</html>