<!DOCTYPE html>
<html>

<head th:replace="~{fragmentos :: head}">
</head>

<body id="fundo">
    <div class="container" id="fundo-branco">
        <div class="card" id="cadastro-center">
            <div class="card-header">
                Cadastro de Restaurante
            </div>
            <div class="card-body">
                <h5 class="card-title">Insira seus dados</h5>
                <form action="">
                    <div class="form-group">
                        <label for="CEP">Cep</label>
                        <input type="text" class="form-control" id="cep" placeholder="Cep..." />
                    </div>
                </form>
                <form th:action="@{salvar}" th:object="${restaurante}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nome">Nome do Restaurante</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome..." th:field="*{nome}"/>
                    </div>
                    <div class="form-group">
                        <label for="CPF">CNPJ</label>
                        <input type="text" class="form-control" id="cpf" placeholder="CNPJ..." th:field="*{cnpj}"/>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail..." th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" placeholder="Telefone..." th:field="*{telefone}"/>
                    </div>
                    <span>Taxa de Entrega</span>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                        </div>
                        <input type="text" class="form-control" id="taxaEntrega" placeholder="0,00" th:field="*{taxaEntrega}">
                    </div>

                    <div class="form-group">
                        <label for="telefone">Tempo de Entrega médio (minutos)</label>
                        <input type="text" class="form-control" id="tempoEntrega" placeholder="Tempo de Entrega..." th:field="*{tempoEntrega}"/>
                    </div>

                    <div class="form-group">
                        <label for="categoria">Selecione uma ou mais categorias para o seu restaurante</label>
                        <select class="custom-select custom-select-lg mb-3" multiple size="4" th:field="*{categorias}">
                            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                          </select>      
                    </div>

                    <span>Logotipo</span>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" th:field="*{arquivoLogotipo}" accept="image/*">
                            <label class="custom-file-label" for="customFile">Selecione uma imagem</label>
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha..." th:field="*{senha}"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmaSenha">Confirme sua Senha</label>
                        <input type="password" class="form-control" id="confirmaSenha"
                            placeholder="Confirme sua Senha..." th:field="*{confirmaSenha}"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Cadastrar" />
                    </div>

                    <input type="button" class="btn btn-danger btn-lg btn-block" value="Voltar" />
            </div>
            </form>
        </div>
    </div>
    
</body>

</html>