<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>BlueFood::Pesquisa</title>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var clienteId = localStorage.getItem('clienteId');
            if (clienteId) {
                /* var link = document.getElementById('link-itens-cardapio');
                var href = link.getAttribute('href');
                link.setAttribute('href', href + '/' + restauranteId); */
            }
            else console.log('ERRO: CLIENTE ID VAZIO');

        })
    </script>
</head>

<body id="fundo">
    <div class="container-fluid" id="fundo-branco"></div>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
                <a class="navbar-brand" href="#">
                    <img src="images/bf_logotipoSistema.png" width="150" height="auto" class="d-inline-block align-top"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Entregador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Restaurantes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/bf_iconeCarrinho.png" style="max-width: 25px; max-height: 25px;"
                                    alt="">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="#">
                                    <div class="card" style="background-color: transparent; border: none;">
                                        <div class="card-body">
                                            Itens
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                    </form>
                    <div class="dropdown" style="margin-left: 1%;">
                        <button class="btn btn-suc  cess dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuário
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Editar Perfil</a>
                            <a class="dropdown-item" href="#">Pedidos</a>
                            <a class="dropdown-item" href="#">Sair</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container w-50 position-relative bg-white p-2 shadow">
        <div class="container">
            <h2>Inserir Endereço</h2>
                <form th:action="@{/clientes/...}" th:object="${dadosCartao}" method="post">

                    <!-- endereço -->
                    <div class="form-group">
                        <label for="dadosCartao"></label>
                        <input type="text" name="dadosCartao" id="dadosCartao" placeholder="dadosCartao..." class="form-control"
                            th:field="*{numeroCartao}" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Inserir Endereco</button>
                    </div>

                </form>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>